/* Makes text not look so aliased */
.text {
    -fx-font-smoothing-type: gray;
}

/* Base font and size for all text */
.root {
    -fx-font-family: "Inter";
    -fx-font-size: 18px;
}

/* Get rid of default thin border on scrollpane */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .track-background {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #247c74;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #1a5d57;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-padding: 0;
}