.text {
    -fx-font-smoothing-type: gray;
}

.root {
    -fx-font-family: "Inter 18pt";
}

.header {
    -fx-font-family: "Inter 18pt";
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-text-fill: #26343D;

    -fx-font-alignment: CENTER;
    -fx-padding: 10px 10px 10px 10px;
}

.header-2 {
    -fx-font-family: "Inter 18pt";
    -fx-font-size: 15px;
    -fx-text-fill: #93acbb;

    -fx-font-alignment: CENTER;
    -fx-padding: 10px 10px 10px 10px;
}