.root {
    -fx-background-color: #F5F5F5;
    -fx-font-size: 18px;
}

.add-recipe-btn {
    -fx-background-color: #2E9B90;
    -fx-text-fill: #F2F4F3;
    -fx-text-family: "Inter 18pt";
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;
}

.recipe-search-bar {
    -fx-background-color: #FEFEFE;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: #c3c3c3;    
}

.recipe-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.dropdown {
    -fx-background-color: #FEFEFE;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: #c3c3c3;
}

.dropdown .list-cell {
    -fx-text-fill: #C3C3C3;
}

.recipe-card {
    -fx-background-color: #6e2828;
    -fx-border-color: #fb0404;
    -fx-border-width: 10px;
    -fx-border-radius: 10px;
}

.recipe-layout-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.recipe-layout-btn:hover {
    -fx-background-color: #bbbbbb;
}

.recipe-layout-btn.active {
    -fx-background-color:#2E9B90;
}