.background {
    -fx-background-color: #F5F5F5;
}

.background-offset {
    -fx-background-color: #FEFEFE;
}

.highlight {

}

.text-color {
    -fx-text-fill: #000000;
}

.text-muted {

}

.border {

}

.danger {
    
}