
.label-color {
    -fx-text-fill: #2E9B90;
}

.ingredient-table-header {
    -fx-font-weight: normal;
}

.simple-text {
    -fx-font-size: 18px;
    -fx-font-weight: normal;
}

.text-area .content {
    -fx-background-color: #FEFEFE;
}
