.dialog-pane {
    -fx-background-color: #1C252E;
}

.dialog-pane .header-panel {
    -fx-background-color: #1C252E;
}

.dialog-pane .button {
    -fx-background-color: #2E9B90;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 7px 18px;
}

.dialog-pane .button:hover {
    -fx-background-color: #37AA9E;
}

.dialog-pane .button:pressed {
    -fx-background-color: #25877E;
}

.dialog-pane {
    -fx-background-color: #1C252E;
}

.dialog-pane .header-panel {
    -fx-background-color: #1C252E;
    -fx-padding: 20px 20px 10px 20px;
}

.dialog-pane .content {
    -fx-background-color: #1C252E;
}

.dialog-pane .header-panel .label {
    -fx-text-fill: #E6E9EB;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.dialog-pane .content.label {
    -fx-text-fill: #B8C0C5;
    -fx-font-size: 15px;
}