.button {

}

.default-button {
    -fx-background-color: #FEFEFE;
    -fx-border-color: #93ACBB;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.default-button:hover {
    -fx-background-color: #BBBBBB;
}

.primary-button {
    -fx-background-color: #2E9B90;
    -fx-text-fill: #F2F4F3;
    -fx-font-weight: bold;
    -fx-padding: 5px 8px 5px 8px;
    -fx-background-radius: 5px;
}

.primary-button:hover {
    -fx-background-color: #24786F;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #2E9B90;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.secondary-button:hover {
    -fx-background-color: #BBBBBB;
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 4px 6px 4px 6px; 
}

.toggle-button:hover {
    -fx-background-color: #BBBBBB;
}

.toggle-button.active {
    -fx-background-color:#2E9B90;
    -fx-border-color: transparent;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-border-color: #C3C3C3;
    -fx-border-radius: 3px;
}

/* This is also defined as toggle-button hover. */
.icon-button:hover {
    -fx-background-color: #BBBBBB;
}

.icon-only-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 4px 6px 4px 6px;
}

/* This is also defined as toggle-button hover. */
.icon-only-button:hover {
    -fx-background-color: #BBBBBB;
}

.page-navigation-button {
    -fx-background-color: transparent;
    -fx-text-fill: #93ACBB;
    -fx-padding: 0px 0px 0px 0px;
}

.page-navigation-button:hover {
    -fx-background-color: #BBBBBB;
}

.danger-button {
    -fx-background-color: #E03B29;
    -fx-text-fill: #F2F4F3;
    -fx-font-weight: bold;
    -fx-padding: 5px 8px 5px 8px;
    -fx-background-radius: 5px;
}

.danger-button:hover {
    -fx-background-color: #AE2F21;
}